#file management
fileupload
pyreadline
ipyfilechooser
xlsxwriter
xlrd

#command line arguments
args

#data science
numpy
pandas 
geopandas
contextily
pareto
zeep

#databases
SQLAlchemy
mysql-connector-python

#plotting & widgets
matplotlib
ipympl
bokeh 
chord
ggplot
graphviz
pivottablejs
torchvision
pydot

#jupyterlab
jupyterlab 
jupyterlab-widgets

#ipywidgets
ipywidgets

#ipyleaflet
ipyleaflet

#plotly
plotly

#kepler
keplergl
